* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main {
	height: 80vh;
}

.drinks {
	display: grid;
	margin: 25px;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
	list-style: none;
}

.drink {
	border: 2px solid black;
	padding: 25px;
	text-align: center;
}

.drink img {
	width: 100%;
}

.drink p {
	font-size: 0.5rem;
}

.drink li {
	background-color: pink;
}

ul.allIngredients {
	/* margin: 0 auto; */
	/* width: 80%; */
	height: 10vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin-left: 0;
	list-style: none;
	align-items: center;
}

/* .red {
	background-color: red;
} */

.lineThrough {
	text-decoration: line-through;
}
